// h1 - 90 Px
// h2 - 60 Px
// p - 26 Px
// Nav - 40 Px
// 

// WRAPPER

// FONT SIZES AND STYLES
h1 {
    font-size: 5.62rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 1.86rem;
}
p {
    font-size: 1.62rem;
}

nav {
    font-size: 2.5rem;  
}



