// Reset padding and margin for all objects
* {
    margin: 0;
    padding: 0;
}

// WRAPPER
.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

// SKIP LINK 
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}

// FONT SIZES AND STYLES
h1, h2, h3, nav, a {
    font-family: $headerFont;
    transition: background 0.3s ease-in;
}

h1, h2, i{
    color: $headerColor;
    transition: background 0.3s ease-in;  
}

.sub-heading, .logo, a {
    color: $iconColor;
}

.sub-heading {
    font-weight: 800;
}

h1 {
    font-size: 5.62rem;
    font-weight: 800;
    & .underline {
        border-bottom: 10px solid $iconColor;
    }
}

h2 {
    font-size: 3.75rem;
}

h3, .juno {
    font-size: 1.86rem;
    color: $iconColor;
}

h2, h3, nav {
    font-weight: 700;
}

p {
    font-size: 1.62rem;
    font-weight: 400;
    font-family: $paragraphFont;
    color: $paragraphColor;
}

nav {
    font-size: 2.5rem;  
    text-decoration: none;
    & a {
        text-decoration: none;
        color: $navColor;
    }
    & .separator {
        color: $paragraphColor;
    }
}

li {
    list-style-type: none;
    & p {
        color: $iconColor;  
    } 
}

.portfolio {
    & a {
        color: $headerColor;
    }
}

// BACKGROUND COLORS
header, .about, .contact, footer {
    background-color: $primaryColor;
    transition: background 0.3s ease-in;;
}

.skills {
    background-color: $secondaryColor;
    transition: background 0.3s ease-in;;
    & li { 
      background-color: $primaryColor;  
    }
}

.portfolio {
    background-color: $secondaryColor;
    transition: background 0.3s ease-in;;
    & li {
        background-color: none;
    }
}

.main-image {
    & div {
        background-color: $mainPicColor; 
        border-radius: 50%;
        height: 500px;
        width: 500px;
    } 
}

// LIGHT TOGGLE COLOURS
// Special thanks to Umer Farooq of CodePen for the Light-Dark Toggle guidelines
body.light h1,
body.light h2,
body.light h3,
body.light p,
body.light a, 
body.light i:not(.fas),
body.light span:not(.logo, .period, .juno)  {
    color: $textLightColor;
}

body.light header,
body.light .about,
body.light .contact,
body.light footer {
    background-image: linear-gradient(to right, $primaryLightColor, $secondaryLightColor);
}


body.light .skills,
body.light .portfolio,
body.light .languages li {
    background-color: $secondaryLightColor;
}

body.light footer {
    border-top: 5px solid $textLightColor;
}