// Reset padding and margin for all objects
* {
    margin: 0;
    padding: 0;
}

// WRAPPER
.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

// FONT SIZES AND STYLES
h1, h2, h3, nav, a {
    font-family: $headerFont;
}

h1, h2, i{
    color: $headerColor;
}

.sub-heading, .period, a {
    color: $secondaryHeaderColor;
}

h1 {
    font-size: 5.62rem;
    font-weight: 800;
    & .underline {
        border-bottom: 10px solid $iconColor;
    }
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 1.86rem;
    color: $secondaryHeaderColor;
}

h2, h3, nav {
    font-weight: 700;
}

p{
    font-size: 1.62rem;
    font-weight: 400;
    font-family: $paragraphFont;
    color: $paragraphColor;
}

nav {
    font-size: 2.5rem;  
    text-decoration: none;
    & a {
        text-decoration: none;
        color: $navColor;
    }
    & .separator {
        color: $paragraphColor;
    }
}

li {
    list-style-type: none;
    & p {
        color: $iconColor;  
    } 
}

.portfolio {
    & a {
        color: $headerColor;
    }
}

// BACKGROUND COLORS
header, .about, .contact, footer {
    background-color: $primaryColor;
}

.skills, .portfolio {
    background-color: $secondaryColor;
    & li { 
      background-color: $primaryColor;  
    }
}

.main-image {
    & div {
        background-color: $mainPicColor; 
        border-radius: 50%;
        height: 500px;
        width: 500px;
    }
    
}