// NAV BAR
nav {
    padding: 20px 0 0 0;
    display: flex;
    justify-content:space-between;
    & ul {
        display: flex;
        & li, .separator {
        padding-left: 25px;
        }
        & .links-internal:hover {
            color: $iconColor;
            border-bottom: 5px solid $iconColor;
            padding: 0 0 4px;
        }
        & .links-internal:focus {
            color: $iconColor;
            border-bottom: 5px solid $iconColor;
            padding: 0 0 4px;
        }
        & .links-external i:hover{
            color: $iconColor;
            border-bottom: none;
    }
        & .links-external i:focus {
            color: $iconColor;
            border-bottom: none;
        }
    }
    & .menu {
        display: flex;
        padding: 10px;
    }
}


// MAIN HEADING
.heading {
    padding: 10% 0  5% 0;
    display: flex;
    justify-content: center;
    & .main-image{
        padding-left: 2%;
    }
    & img {
        position: relative;
        bottom: 10%;
        right: 5%;
    }
    & .introduction {
        padding-left: 4%;
        & h2 {
        padding-bottom: 20px;
        }  
        & p {
            padding-bottom: 20px;
        }
    }

}
