// NAV BAR
nav {
    padding: 20px 0 0 0;
    display: flex;
    justify-content:space-between;
    & ul {
        display: flex;
        & li, .separator {
        margin-left: 25px;
        }
        & .links-internal:hover {
            border-bottom: 5px solid $iconColor;
            padding: 0 0 4px;
            & a:hover {
                color: $iconColor;
            }
        }
        & .links-internal:focus {
            border-bottom: 5px solid $iconColor;
            & a:hover {
                color: $iconColor;
            }
        }
        & .links-external i:hover{
            color: $iconColor;
        }
        & .links-external i:focus{
            color: $iconColor;
        }
    }
    & .menu {
        display: flex;
        padding: 10px;
        & li {
            margin: 0 1 rem;
            overflow: hidden;
        }
    }
}
// Special Thanks to 'Alvarotrigo' of CodePen for the Hamburger Menu Styling
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button {
    position: relative;
    top: 40px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: $iconColor;
    position: absolute;
    height: 5px;
    width: 35px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

// MAIN HEADING
.heading {
    padding: 10% 0  5% 0;
    display: flex;
    justify-content: center;        
    & .period {
            color: $iconColor;
        }
    & img {
        position: relative;
        bottom: 10%;
        right: 5%;
    }
    & .introduction {
        padding-left: 4%;
        & h2 {
        padding-bottom: 20px;
        }  
        & p {
            padding-bottom: 20px;
        }

    }

}
