/* Portrait tablet and small desktops */
@media (max-width: 1250px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        z-index: 10;
        top: 0;
        margin-top: 50px;
        left: 0;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        & .separator {
            display: none;
        }
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
        #menu-toggle:checked~.menu li {
            border: 1px solid #333;
            height: 1em;
            padding: 25px;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            align-items: center;
        }
    
        .menu>li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em;
            width: 100%;
            color: white;
            background-color: #222;
        }
    
        .menu>li:not(:last-child) {
            border-bottom: 1px solid #444;
        }
    .heading {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        & .main-img {
            position: relative;
            bottom: 100px;
            & img {
                bottom: 20%;
            }
        }
    }
    body.light .menu li {
        background-color: $secondaryLightColor
    }
}

@media (max-width: 950px) {
    .project-01, .project-03 {
        flex-direction: column;
        justify-content: center;
    }
    .project-02 {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .project-caption, .project-img {
        width: 100% !important;
        margin-bottom: 10px;
        & ul {
            justify-content: center;
        }
    }
    .links-projects {
        display: flex;
        justify-content: center;
        & a {
            margin-right: 10px;
        }
    }
}
