/* Portrait tablet and small desktops */
@media (max-width: 1250px) {
    .page-links, .links {
        position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 940px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {}

/* Landscape phones and down */
@media (max-width: 480px) {}