// PROJECTS SECTION
.portfolio {
    padding: 2% 0 5% 0;
    & .heading-portfolio {
        text-align: center;
        margin-bottom: 20px;
    }
    & p {
        margin-top: 20px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    & .project-01, .project-02, .project-03 {
        display: flex;
        & .project-img { 
            margin-right: 40px;
            width: 50%;
            & img {
                box-shadow: 10px 10px 8px grey;
            }
        }
        & .project-caption {
            width: 50%;
            margin-top: 20px;
        }
    }
    & a {
        border: 2px solid $headerColor;
        padding: 10px;
    }
    & a:hover {
        color: $iconColor;
        position: relative;
    }
    & a:focus {
        color: $iconColor;
        position: relative;
    }
    & ul {
        display: flex;
        padding: 0 0 5% 0;
         & img {
            height: 50px;
            width: 50px;
            padding-right: 10px;
        }
    }
    & .links-projects {
        margin-bottom: 20px;
    }
}