// SKILLS SECTION
.skills {
    text-align: center;
    padding-top: 20px;
    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2% 0 5% 0;
        flex-wrap: wrap;
        align-items: center;
        & li {
            margin: 15px;
            padding: 15px;
        }
    }
    & img {
        width: 250px;
        height: 250px;
        padding-bottom: 10px;
    }
    & img:hover {
        animation: effect 0.4s infinite;
            @keyframes effect {
            0% {
                transform: translateX(0px) rotate(0deg);
            }
    
            20% {
                transform: translateX(-4px) rotate(-4deg);
            }
    
            40% {
                transform: translateX(-2px) rotate(-2deg);
            }
    
            60% {
                transform: translateX(4px) rotate(4deg);
            }
    
            80% {
                transform: translateX(2px) rotate(2deg);
            }
    
            100% {
                transform: translateX(0px) rotate(0deg);
            }
        }
    }
}