// SKILLS SECTION
.skills {
    text-align: center;
    padding-top: 20px;
    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2% 0 5% 0;
        flex-wrap: wrap;
        align-items: center;
        & li {
            margin: 15px;
            padding: 15px;
        }
    }
    & img {
        width: 250px;
        height: 250px;
        padding-bottom: 10px;
    }

}