// FONTS
$headerFont: "Open Sans";
$paragaraphFont: "Nunito";

// COLORS
$primaryColor: #2E2E35;
$navColor: #8F8E90; 
$secondaryColor: #34343B;
$headerColor: #DADADA;
$secondaryHeaderColor: #D19D46;
$paragraphColor: #6E6E71;
$iconColor: #E3AA48;
