// FONTS
$headerFont: "Open Sans";
$paragraphFont: "Nunito";

// COLORS
$primaryColor: #2E2E35;
$navColor: #B8B7B7; 
$secondaryColor: #34343B;
$mainPicColor: #2B2B34;
$headerColor: #DADADA;
$secondaryHeaderColor: #D19D46;
$paragraphColor: #8F8F8F;
$iconColor: #E3AA48;
